            <div class="main-controls">
                <button class="btn-new" @click="editingContent = { title: '', url: '', type: 'YouTube' }; isContentModalOpen = true;">
                    New Content
                </button>
            </div>

            <div x-show="isContentLoading" style="text-align: center; padding: 2rem;">Loading Content Library...</div>

            <div x-show="!isContentLoading">
                <table>
                    <thead>
                        <tr>
                            <th @click="sortContentBy('title')" class="sortable">Title</th>
                            <th>URL</th>
                            <th @click="sortContentBy('type')" class="sortable">Type</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template x-for="item in sortedContent" :key="item.id">
                            <tr>
                                <td x-text="item.title"></td>
                                <td>
                                    <template x-if="item.type === 'YouTube'">
                                        <button class="link-button" @click="
                                            const videoId = dataLayer.getYoutubeVideoId(item.url);
                                            if (videoId) {
                                                youTubeVideoId = videoId;
                                                isYouTubeModalOpen = true;
                                            }
                                        ">
                                            <span x-text="item.url"></span>
                                        </button>
                                    </template>
                                    <template x-if="item.type !== 'YouTube'">
                                        <a :href="item.url" target="_blank" x-text="item.url"></a>
                                    </template>
                                </td>
                                <td x-text="item.type"></td>
                                <td>
                                    <button class="edit-btn" @click="editingContent = { ...item }; isContentModalOpen = true;">
                                        <i data-feather="edit-2"></i>
                                    </button>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
