            <div class="log-view-header">
                <div class="date-nav">
                    <button @click="prevDay()">&lt;</button>
                    <h2 x-text="logViewTitle"></h2>
                    <button @click="nextDay()">&gt;</button>
                </div>
                <div class="date-range-search">
                    <input type="date" x-model="searchStartDate">
                    <span>to</span>
                    <input type="date" x-model="searchEndDate">
                    <button @click="searchDateRange()">Search</button>
                </div>
            </div>
            
            <div id="log-view-content">
                <div x-show="isLogsLoading" style="text-align: center; padding: 2rem;">Loading logs...</div>
                
                <div x-show="!isLogsLoading">
                    <template x-if="Object.keys(groupedLogs).length === 0">
                        <p>No practice logged for this period.</p>
                    </template>

                    <template x-for="(goals, topicTitle) in groupedLogs" :key="topicTitle">
                        <div>
                            <h2 x-text="topicTitle"></h2>
                            <template x-for="(logEntries, goalDescription) in goals" :key="goalDescription">
                                <div>
                                    <h4 x-text="goalDescription"></h4>
                                    <ul class="log-list-flat">
                                        <template x-for="log in logEntries" :key="log.id">
                                            <li x-html="dataLayer.linkify(log.entry)"></li>
                                        </template>
                                    </ul>
                                </div>
                            </template>
                        </div>
                    </template>
                </div>
            </div>
