<div 
    class="modal-overlay" 
    x-show="isNewTopicModalOpen" 
    x-cloak 
    @keydown.escape.window="isNewTopicModalOpen = false"
>
    <div class="modal-content" @click.outside="isNewTopicModalOpen = false">
        <h3>Add New Topic</h3>
        <textarea
            x-model="newTopicTitle"
            placeholder="Enter title for the new topic..."
            @keydown.enter="
                if (!$event.shiftKey) {
                    $event.preventDefault();
                    (async () => {
                        const newTopic = await dataLayer.addTopic(newTopicTitle);
                        if (newTopic) {
                            newTopic.goals = [];
                            newTopic.isOpen = true;
                            topics.push(newTopic);
                            $nextTick(() => feather.replace());
                        }
                        isNewTopicModalOpen = false;
                        newTopicTitle = '';
                    })();
                }
            "
        ></textarea>
        <div class="modal-actions">
            <div></div> <div class="right-actions">
                <button @click="isNewTopicModalOpen = false; newTopicTitle = ''">Cancel</button>
                <button 
                    class="btn-save"
                    @click="
                        const newTopic = await dataLayer.addTopic(newTopicTitle);
                        if (newTopic) {
                            newTopic.goals = []; 
                            newTopic.isOpen = true;
                            topics.push(newTopic); 
                            $nextTick(() => feather.replace());
                        }
                        isNewTopicModalOpen = false; 
                        newTopicTitle = '';
                    "
                >Save</button>
            </div>
        </div>
    </div>
</div>