            <div class="main-controls">
                <button class="btn-new" @click="editingRepertoire = { title: '', artist: '', tags: [] }; isRepertoireModalOpen = true;">
                    New Tune
                </button>
            </div>
            <div x-show="isRepertoireLoading" style="text-align: center; padding: 2rem;">Loading Repertoire...</div>
            <div x-show="!isRepertoireLoading">
                <table>
                    <thead>
                        <tr>
                            <th @click="sortRepertoireBy('title')" class="sortable">Title</th>
                            <th>Tags</th>
                            <th @click="sortRepertoireBy('practice_count')" class="sortable">Count</th>
                            <th @click="sortRepertoireBy('last_practiced')" class="sortable">Last Date</th>
                            <th @click="sortRepertoireBy('progress')" class="sortable">Progress</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <template x-for="tune in sortedRepertoire" :key="tune.id">
                            <tr>
                                <td :title="tune.artist ? 'Composer: ' + tune.artist : ''" x-text="tune.title"></td>
                                <td>
                                    <template x-if="tune.tags && tune.tags.length > 0">
                                        <div class="tags-display">
                                            <template x-for="tag in tune.tags" :key="tag.id">
                                                <span class="tag-pill" x-text="tag.name"></span>
                                            </template>
                                        </div>
                                    </template>
                                    <template x-if="!tune.tags || tune.tags.length === 0">
                                        <span style="color: var(--text-secondary);">-</span>
                                    </template>
                                </td>
                                <td x-text="tune.practice_count"></td>
                                <td
                                    x-text="tune.last_practiced ? new Date(tune.last_practiced + 'T00:00:00').toLocaleDateString('en-US') : 'Never'">
                                </td>
                                <td>
                                    <select class="progress-select" x-model="tune.progress"
                                        @change="dataLayer.updateRepertoireProgress(tune.id, $event.target.value)">
                                        <option>1 - Backlog</option>
                                        <option>2 - Listening</option>
                                        <option>3 - Started</option>
                                        <option>4 - Memorized</option>
                                        <option>5 - Gig Ready</option>
                                        <option>6 - Off Book</option>
                                    </select>
                                </td>
                                <td style="width: 40px;">
                                    <button class="edit-btn" @click="editingRepertoire = { ...tune }; isRepertoireModalOpen = true;">
                                        <i data-feather="edit-2"></i>
                                    </button>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
