<div
    class="fixed inset-0 bg-gray-900 bg-opacity-75 flex items-center justify-center z-50"
    x-show="isYouTubeModalOpen"
    x-cloak
    @keydown.escape.window="isYouTubeModalOpen = false"
>
    <div class="bg-black rounded-lg shadow-xl max-w-4xl w-full mx-4 p-2 relative" @click.outside="isYouTubeModalOpen = false">
        <button @click="isYouTubeModalOpen = false" class="absolute top-4 right-4 text-white hover:text-gray-300 text-3xl font-bold z-10">&times;</button>
        <div class="aspect-video">
            <iframe
                x-show="isYouTubeModalOpen"
                :src="isYouTubeModalOpen ? `https://www.youtube.com/embed/${youTubeVideoId}` : ''"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                class="w-full h-full rounded">
            </iframe>
        </div>
    </div>
</div>
